@charset "UTF-8";



.image img {
  /*
  width: 250px;
  height: 250px;
  */
}

#search {
  border: ;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 30px;
}

.list {
  list-style: none;
}

@media screen and (min-width: 320px){/* MOBILE */

  body {
    border: ;
    background: white;
  }
  .lightcase-contentInner img {
      height: 100%!important;
      width: 100%!important;
  }

  .search {
    display: block;
    margin: 0 auto;
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 5px 10px 5px 10px;
  }


  img {
    display: block;
    margin: auto;
    /*width: 380px;
    height: 300px;*/
    margin-bottom: 80px;
  }

  h2 {
    border:;
    display: none;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 35px;
  }

  p {
    border:;
    display: none;
    margin:  0 auto;
    width: 375px;
    margin-top: 12px;
    margin-bottom: 90px;
    font-size: 20px;
    text-align: center;
  }



}


@media screen and (min-width: 600px) {/* TABLET */

  body {
    border: 1px solid red;
    background: white;
  }

  .main-gallery-area {
    display: flex;
    flex-wrap: wrap;
  }
  .image {
    display: block;
    margin: 0 auto;
    width: ;
    height: ;
  }

  img {
    /*
    width: 600px;
    height: 450px;
    */
  }
  #lightcase-info #lightcase-caption {
    border:;
    width: 590px;
    height: 100px;
  }

  h2 {
    text-align: center;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  p {
    border:;
    display: none;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 70px;
    width: 63.5%;
    font-size: 20px;
  }

}


@media screen and (min-width: 1024px){/* FULL SCREEN */

  body {
    border:;
    background-color: white;
  }

  .main-gallery-area {
    border:;
    display: flex;
    flex-wrap: wrap;
  }


  img {
    /*
    width: 300px;
    height: 200px;
    */
  }
  img:hover {
    box-shadow: 20px 20px 10px grey;
  }
  #lightcase-info #lightcase-caption {
    border:;
    width: 795px;
    height: 100px;
  }

  .image h2 {
    display: none;
  }
  .image p {

  }

}
